.ClubMembersList {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
  border-style:solid;
  border-width: thin;
  border-color: #59392A;
  border-radius: 5px;
  min-height: 100px;
}

.ExitButton {
  position: absolute;
  left: 0;
  z-index: 1;
}

.Modal {
  align-items: center;
  background: #DFDACD;
  border-style: solid;
  border-color: #59392A;
  border-radius: 5px;
  border-width:thick;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  min-height: 50vh;
  width: 500px;
  position: absolute;
}

.ModalTitle {
  font-family: 'Modak', cursive;
  font-weight: normal;
  color: #E1C16D;
  text-shadow: 1px 0 0 #59392A, 0 -1px 0 #59392A, 0 1px 0 #59392A, -1px 0 0 #59392A;
}

.Header {
  font-family: 'Modak', cursive;
  font-weight: normal;
  color: #59392A;
}

.ModalScreenContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.MessageForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.SubmitButton {
  background: none;
  font-family: 'Modak', cursive;
}