@media (min-width: 320px) {
    .screen {
        background: $mobile-image;
        
    }
    #home-screen-contents,
    #login-screen-contents,
    #register-screen-contents {
        @include screen-content-mobile;
    }
    .inner-content {
        @include inner-content-mobile;
    }
    .heading {
        @include screen-heading-grid-mobile;
    }
    .textfield {
        @include screen-textfield-grid-mobile;
    }
    a {
        display: inline-block;
    }
    .form-button {
        @include screen-buttons;
        @include form-button;
      }
      
      form,
      .avatar-form {
        @include forms-mobile;

      }
      label {
        @include form-labels;
      }
      input {
        @include form-inputs;
      }
      input:focus {
        @include form-inputs-focus;
      }

}
@media (min-width: 760px) {
    .screen {
        background: $desktop-image;

    }
    #home-screen-contents,
    #login-screen-contents,
    #register-screen-contents {
        @include screen-content-desktop;
    }
    .logo {
        @include screen-logo-desktop;
        font-size: 48px;
        height: 50px;
      }
    .inner-content {
        @include inner-content-desktop;
    }
    
      .heading {
        @include screen-heading-desktop;
      }
      .textfield {
        @include screen-textfield-desktop;
      }
      
      .form-button {
        @include screen-buttons;
        @include form-button;
      }
      #fur {
        width: 200px;
        height: 22px;
        font-size: 20px;        
      }
      
      form {
        @include form-desktop;
      }
      label {
        @include form-labels;
      }
      input {
        @include form-inputs;
      }
      input:focus {
        @include form-inputs-focus;
      }
}
