.selected {
    background-image: url('../../assets/brownBear.png');
    background-position: center;
    background-repeat: no-repeat;
    border: solid 1px black;
    content: "";
    pointer-events: none;

}

.grid-board {
    background: url("../../assets/gameboard-blueprint.svg");
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(4, 80px);
    grid-template-rows: repeat(4, 80px);
}