.controller {
    position: absolute;
    background-image: url("../../assets/arrows.png");
    background-repeat: no-repeat;
    background-size: 100%;
    padding-top: -100px;
    right: 3%;
    bottom: 3%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: 200px;
    height: 200px;
}

@media (min-width: 760px) {
    .controller {
    display:none;
}
}