.controller {
    position: absolute;
    background-image: url("../../assets/arrows.png");
    background-repeat: no-repeat;
    background-size:contain;
    right: 3%;
    bottom: 3%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

@media (min-width: 760px) {
    .controller {
    display:none;
}
}