.ClubMembersList {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
  border-style: solid;
  border-width: thin;
  border-color: #59392a;
  border-radius: 5px;
  min-height: 100px;
  margin: 10px;
  overflow: auto;
  max-height: 200px;
}

.ClubMembersList>button {
  font-family: $secondary-text-font;
  font-size: 20px;
  background-color: transparent;
  border: none;
  margin-bottom: 2px;
}

.Modal {
  align-items: center;
  background: #dfdacd;
  border-style: solid;
  border-color: #59392a;
  border-radius: 5px;
  border-width: thick;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  min-height: 50vh;
  width: 500px;
  position: absolute;
  left: 30%;
  top: 10%;
  z-index: 3;
}

.ModalTitle {
  @include titles;
}

.Header {
  font-family: "Modak", cursive;
  font-weight: normal;
  color: #59392a;
}

.ModalScreenContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 10px;
}

.MessageFormContainer {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  margin: 10px;
}

.MessageFormContainer>p {
  width: 130px;
  background-color: white;
  border-style: solid;
  border-width: thin;
  border-color: #59392a;
  border-radius: 5px;
  min-height: 100px;
  margin: 10px;
  overflow: auto;
}

.MessageFormHeader {
  display: flex;
}

.MessageFormHeader>h3 {
  font-family: $secondary-text-font;
  margin-left: 5px;
}

.MessageForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.MessageForm>input {
  background-color: white;
}
.SubmitButton, .DeleteButton {
  background: none;
  font-family: "Modak", cursive;
  font-size: 17px;
  width: 120px;
  border-radius: 7px;
  border-style: solid;
  border-color: $secondary-txt-color;
  @include titles;
}

.tab-nav {
  @include titles;
  margin: 0 auto;
  display: flex;
  align-items: center;
}
.tab-nav li {
  list-style: none;
  text-align: center;
  cursor: pointer;
  transition: all 0.7s;
  margin: 0 15px;
}

.ExitButton {
  color: $secondary-txt-color;
  font-family: $main-txt-font-cursive;
  font-size: 30px;
  background-color: transparent;
  cursor: pointer;
  border: none;
  z-index: 4;
  position: absolute;
  left: 5px;
  top: 0px;
}

.ExitButton:hover {
  @include titles;
}

.member {
  display: flex;
  width: 100%;
  justify-content: center;
  color: $secondary-txt-color;
  font-family: $main-txt-font-cursive;
}

.recipient {
  font-family: $main-txt-font-cursive;
  color: $secondary-txt-color;
  font-weight: normal;
  padding: 5px;
}

.modalInput {
  border: 2px solid $main-txt-color;
  height: 25px;
  color: $secondary-txt-color;
  background: transparent;
  border-radius: 5px;
}

.outlet {
  display: flex;
}