.ClubMembersList {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
  border-style: solid;
  border-width: thin;
  border-color: #59392a;
  border-radius: 5px;
  min-height: 100px;
}

.ExitButton {
  position: absolute;
  color: $secondary-txt-color;
  font-family: $main-txt-font-cursive;
  font-size: 20px;
  padding: 10px 20px;
  background-color: transparent;
  border: none;
  left: 30%;
  top: 10%;
  z-index: 1;
}

.ExitButton:hover {
  @include titles;
}

.Modal {
  align-items: center;
  background: #dfdacd;
  border-style: solid;
  border-color: #59392a;
  border-radius: 5px;
  border-width: thick;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  min-height: 50vh;
  width: 500px;
  position: absolute;
  left: 30%;
  top: 10%;
}

.ModalTitle {
  @include titles;
}

.Header {
  font-family: "Modak", cursive;
  font-weight: normal;
  color: #59392a;
}

.ModalScreenContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.MessageForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.SubmitButton {
  background: none;
  font-family: "Modak", cursive;
  @include titles;
}

ul.nav {
  @include titles;
  width: 60%;
  margin: 0 auto 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #39A2DB;
  border-radius: 2rem;
  @media (max-width: 768px) {
    width: 90%;
  }
}
ul.nav li {
  width: 50%;
  list-style: none;
  text-align: center;
  cursor: pointer;
  transition: all 0.7s;
  border-bottom-left-radius: 2rem;
  border-top-left-radius: 2rem;
}
ul.nav li:nth-child(2) {
  border-radius: 0;
  border-bottom-right-radius: 2rem;
  border-top-right-radius: 2rem;
}

ul.nav li.active {
  background: #39A2DB;
}