.game-board {
  background-image: url("../../assets/gameboard-blueprint.png");
  background-position: center;
  background-repeat: no-repeat;
  height: 900px;
  width: 1440px;
  box-sizing: border-box;
}

.grid-board {
  padding-top: 160px;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(12, 80px);
  grid-template-rows: repeat(6, 80px);
}

.mailbox {
  background-image: url("../../assets/mailbox/mailbox.png");
  background-position: center;
  background-repeat: no-repeat;
  z-index: 1;
  content: "";
  transition: transform 0.2s;
}

.mailbox:hover {
  transform: scale(1.2);
}

.selected {
  background-position: center;
  background-repeat: no-repeat;
  z-index: 2;
  content: "";
  pointer-events: none;
}

.black {
  background-image: url("../../assets/black-bear/front.png");
  background-repeat: no-repeat;
  background-position: center;
}
.black-step {
  background-image: url("../../assets/black-bear/front-step.png");
}
.black-up {
    background-image: url("../../assets/black-bear/back.png");
}
.black-up-step {
  background-image: url("../../assets/black-bear/back-step.png");
}
.black-left {
  background-image: url("../../assets/black-bear/left.png");
}
.black-left-step {
  background-image: url("../../assets/black-bear/left-step.png");
}
.black-right {
    background-image: url("../../assets/black-bear/right.png");
}
.black-right-step {
  background-image: url("../../assets/black-bear/right-step.png");
}

.brown {
  background-image: url("../../assets/brown-bear/front.png");
  background-repeat: no-repeat;
  background-position: center;
}
.brown-step {
  background-image: url("../../assets/brown-bear/front-step.png");
}
.brown-up {
    background-image: url("../../assets/brown-bear/back.png");
}
.brown-up-step {
  background-image: url("../../assets/brown-bear/back-step.png");
}
.brown-left {
    background-image: url("../../assets/brown-bear/left.png");
}
.brown-left-step {
  background-image: url("../../assets/brown-bear/left-step.png");
}
.brown-right {
  background-image: url("../../assets/brown-bear/right.png");
}
.brown-right-step {
  background-image: url("../../assets/brown-bear/right-step.png");
}

.panda {
  background-image: url("../../assets/panda-bear/front.png");
  background-position: center;
  background-repeat: no-repeat;
}
.panda-step {
  background-image: url("../../assets/panda-bear/front-step.png");
}
.panda-up {
  background-image: url("../../assets/panda-bear/back.png");
}
.panda-up-step {
  background-image: url("../../assets/panda-bear/back-step.png");
}
.panda-left {
  background-image: url("../../assets/panda-bear/left.png");
}
.panda-left-step {
  background-image: url("../../assets/panda-bear/left-step.png");
}
.panda-right {
  background-image: url("../../assets/panda-bear/right.png");
}
.panda-right-step {
  background-image: url("../../assets/panda-bear/right-step.png");
}

.white {
  background-image: url("../../assets/white-bear/front.png");
  background-position: center;
  background-repeat: no-repeat;
}
.white-step {
  background-image: url("../../assets/white-bear/front-step.png");
}
.white-up {
  background-image: url("../../assets/white-bear/back.png");
}
.white-up-step {
  background-image: url("../../assets/white-bear/back-step.png");
}
.white-left {
  background-image: url("../../assets/white-bear/left.png");
}
.white-left-step {
  background-image: url("../../assets/white-bear/left-step.png");
}
.white-right {
  background-image: url("../../assets/white-bear/right.png");
}
.white-right-step {
  background-image: url("../../assets/white-bear/right-step.png");
}