.home {
  @include screen;
}

#home-img {
  @include main-image;
}

.home-logo {
  @include logo;
  @include screen-logo;
}
.home-heading {
  @include screen-heading;
}
.home-textfield {
  @include screen-textfield;
}

.home-login-button {
  position: absolute;
  left: 30%;
  bottom: 40%;
  @include screen-buttons;
}
.home-signup-button {
  position: absolute;
  right: 38%;
  bottom: 40%;
  @include screen-buttons;
}



