#home-screen-contents {
  @include screen-content;
  
}


.btn-1-home {
  grid-column: 1 / 2;
  grid-row: 6 / 7;
}

.btn-2-home {
  grid-column: 2 / 3;
  grid-row: 6 / 7;
}

.home-login-button {
  @include screen-buttons;
  
}
.home-signup-button {
  @include screen-buttons;
  
}




